body {
  font-family: sans-serif;
  margin: 2rem;
}
.wrapper {
  display: grid;
  background-color: red;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 4rem;
  justify-content: center;
}
.card {
  overflow: hidden;
  height: 105%;
  box-shadow: 0 2px 20px gray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.card__image {
  height: 12rem;
  width: 100%;
  object-fit: fill;
}
.card__title {
  padding: 0 1rem;
}
.card__language {
  padding: 1rem;
}
.card__btn {
  width: 100px;
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 2.6rem;
  text-decoration: none;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  border-radius: 2px;
}
.goback__btn {
  width: 100px;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 2.6rem;
  margin-bottom: 1rem;
  text-decoration: none;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;

  border-radius: 2px;
}

.card:hover {
  transform: scale(1.01);
}
.card__btn:hover {
  background-color: rgb(192, 190, 190);
  border-radius: 2px;
  color: white;
}
.goback__btn:hover {
  background-color: rgb(192, 190, 190);
  border-radius: 2px;
  color: white;
}
